nlp_training/artifacts/classification/*.joblib filter=lfs diff=lfs merge=lfs -text
nlp_training/artifacts/similarity/*.joblib filter=lfs diff=lfs merge=lfs -text
nlp_training/artifacts/similarity/*.faiss filter=lfs diff=lfs merge=lfs -text
nlp_training/artifacts/similarity/*.parquet filter=lfs diff=lfs merge=lfs -text
nlp_training/artifacts/clustering/kmeans.joblib filter=lfs diff=lfs merge=lfs -text
